<div class="container">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Vehicle details</h1>
      <div class="row">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1418489098061-ce87b5dc3aee?ixlib=rb-1.2.1&w=1000&q=80"
            class="card-img" alt="...">
            <p>asd sdf sdf sd</p>
        </div>
        <div class="col-md-8">
          <ul>
            <li><%= @vehicle.brand %> </li>
            <li><%= @vehicle.model %> </li>
            <li><%= @vehicle.plate_number %> </li>
            <li><%= @vehicle.seats_count %> </li>
            <li><%= @vehicle.large_bag_count %> </li>
            <li><%= @vehicle.small_bag_count %> </li>
            <li><%= @vehicle.doors_count %> </li>
            <li><%= @vehicle.air_conditioning %> </li>
            <li><%= @vehicle.automatic_gearbox %> </li>
            <li><%= @vehicle.free %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <p>
        Supplier Location
        Sydney Airport
        50, Ross Smith Avenue, Control Tower at the end of Ross Smith Avenue, Mascot, Australia, NSW 2020
        Opening hours
        Mon - Sun 6am - 11pm
        Pick-up instructions
        Call 1800620408 (0061392222595) to arrange for collection. International Terminal 1: Exit the terminal, turn
        right following the signs to shuttle bus waiting area DOMESTIC TERMINAL 2 (Virgin, Jetstar and Regional
        Express) Exit the terminal, turn left following the signs to shuttle bus waiting area. DOMESTIC TERMINAL 3
        (Qantas) Exit the terminal, turn right following the signs to shuttle bus waiting area
      </p>
    </div>
    <a href="" class="btn">Go to book</a>
  </div>
</div>